
@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  src: local('Joti One'), local('JotiOne-Regular'), url(lib/jotione.woff) format('woff');
}

@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  src: local('Combo'), local('Combo-Regular'), url(lib/combov1.woff) format('woff');
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html, body, iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Combo', fantasy, serif, Arial;
}
div, table, td, p, span, button, input, textarea {
	font-family: 'Combo', fantasy, serif, Arial;
}
.round {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.shadow {
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;
    box-shadow:5px 5px 10px black;
}
.clickable {
	cursor:pointer;
}
.full {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.float {
	position:absolute;
}
.center {
	text-align: center;
	vertical-align: middle;
}
.l {
	text-align: left;
}
.r {
	text-align: right;
}
.m {
	text-align: center;
}
.t {
    vertical-align: top;
}
.b {
    vertical-align: bottom;
}
.vm {
    vertical-align: middle;
}
td.btn {
    border-radius: 5px;
    padding: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor:pointer;
    background: url(img/bg_linen.png) /*#666666*/;
}
td.btn-char {
	padding: 10px;
	background-color: #46C7C7;
	border-radius: 15px;
}

div.logo {
	width: 100%;
	height: 100%;
	text-align:center;
	vertical-align:middle;
}
img.logo {
	width: 256px;
	height: 256px;
}
div.page {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
    display: none;
    background: url(img/bg_linen.png) /*#666666*/;
    color: white;
}
div.userinfo {
	display: block;
	position: absolute;
	margin: 0px;
	padding: 2px;
	opacity: 1;
	color: #eeeeee;
    background: url(img/bg_linen.png) /*#666666*/;
}
div#user1 {
	top: 2px;
	left: 2px;
}
div#user2 {
	top: 2px;
	right: 2px;
}
div#controlright, div#controlleft {
	position: absolute;
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
}
table.control {
	padding: 0px;
	margin: 0px;
	border-spacing: 2px;
	font-size: 14px;
}
div.icon {
	width:32px;
}
p {
	padding: 0px;
	line-height: 1em;
	margin: .5em 0 .5em 0;
}
table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: solid green 0px;
}
table.m {
	text-align: center;
}
td.msg {
	text-align: left;
	padding: 3px;
}
td.t {
	text-align: center;
	background: #eeeeee;
}
td.i {
	width: 32px;
	vertical-align: top;
}
td.menu {
	/*width: 20%;*/
}
button {
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;	
	background-color: #91bd09;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-size: 14px;
	cursor:pointer;
}
button.set {
	width: 72px;
	height: 72px;
}
.btn-buy {
	width: 96px;
	height: 48px;
	padding: 0px;
	margin: 0px;
}
.appname {
    text-shadow: 3px 3px 5px black;
    font-size: 22px;
}
button.menuitem {
    opacity: 1;
	width: 144px;
	height: 36px;
    vertical-align: middle;
    font-size: 20px;
}
img {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
img.icon {
	width: 32px;
	height: 32px;
}
img.icon32 {
	width: 32px;
	height: 32px;
}
img.icon48 {
	width: 48px;
	height: 48px;
}
img.icon64 {
	width: 64px;
	height: 64px;
}
img.icon96 {
    width: 96px;
    height: 96px;
}
img.icon128 {
	width: 128px;
}
img.icon192 {
	width: 192px;
}
img.icon256 {
	width: 256px;
}
/** dialog with img texture ***/

div.dialog {
	position: absolute;
}
div.popup {
	position: absolute;
    background: url(img/bg_linen.png) /*#666666*/;
    color: white;
	opacity: 1;
}
button.dialog {
    width: 96px;
	height: 48px;
    font-size: 18px;
}
img.dlgx {
	padding: 0px;
	margin: 0px;
	display: block;
}
table.dialog {
	padding: 0px;
	margin: 0px;
	spacing: 0px;
	-moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;
    box-shadow:5px 5px 10px black;
    color: #eeeeee;
    background: url(img/bg_linen.png);
}
div.dlg11 {
	text-align: center;
	overflow: auto;
}
td.dlg00 {
	width:32px;
    margin: 0px;
    padding: 0px;
}

td.dlg01 {
}

td.dlg02 {
	width:32px;
    height:32px;
    margin: 0px;
    padding: 0px;
    text-align: left;
	vertical-align: middle;
}

td.dlg10 {
}

td.dlg11 {
	padding: 4px;
}
td.dlg12 {
}

td.dlg20 {
	height: 4px;
    margin: 0px;
    padding: 0px;    
}

td.dlg21 {
}

td.dlg22 {
    margin: 0px;
    padding: 0px;    
}


/*** color buttons **/

.button, .button span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.button, button.dialog {
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
}
.button.full, .button.full span {
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
	top:1px;
}
.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}

.button.small span {
	font-size:12px;
}
.button.medium span {
	font-size:14px;
}
.button.large span {
	font-size:18px;
}

.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #FFFFFF;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #A9014B;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00ADEE;
}
.button.pink {
	background-color: #e22092;
}
.button.green, button.dialog {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #F16C7C;
}
.button.brown {
	background-color: #804000;
}
.button.purple {
	background-color: #800080;
}
.button.cyan {
	background-color: #46C7C7;
}
.button.gold {
	background-color: #D4A017;
}

@media 
only screen and (min-width: 640px),
only screen and (min-device-pixel-ratio: 2) {
    img.icon, img.icon32 { width:64px; height:64px; }
    img.icon48 { width:96px; height:96px; }
    img.icon64 { width:128px; height:128px; }
    img.logo, img.icon128 { width:256px; height:256px; }
    img.dlgx { width:48px; height:48px; }
    body, div, td, button, p, span, input { font-size:28px; }

    button.dialog {
        width: 192px;
        height: 96px;
        font-size: 24px;
    }
    button.set {
        width: 144px;
        height: 144px;
    }
    .btn-buy {
        width: 192px;
        height: 96px;
        padding: 0px;
        margin: 0px;
    }
    .appname {
	    text-shadow: 3px 3px 5px black;
	    font-size: 48px;
	}
    table.control {
		padding: 0px;
		margin: 0px;
		border-spacing: 2px;
		font-size: 28px;
	}
    button.menuitem {
    	opacity: 1;
        width: 320px;
        height: 96px;
        vertical-align: middle;
        font-size: 48px;
    }
    td.btn {
        font-size: 24px;
    }
    td.btn-char {
    	padding: 10px;
    	background-color: #46C7C7;
    	border-radius: 20px;
    }
}
