
@import url(http://fonts.googleapis.com/css?family=Quintessential);

html, body, iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;

	font-family: 'Quintessential', cursive;
}
.round {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.clickable {
	cursor:pointer;
}
.full {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.float {
	position:absolute;
}
.center {
	text-align: center;
	vertical-align: middle;
}
.l {
	text-align: left;
}
.r {
	text-align: right;
}
.m {
	text-align: center;
}
div.dialog {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	padding:5px;
	color: #333333;
	background: #ffeecc;
	border: solid 2px gray;
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;
}
td.dialog {
	padding: 5px;
}
button.dialog {
	height: 32px;
}
div.logo {
	width: 100%;
	height: 100%;
	text-align:center;
	vertical-align:middle;
}
img.logo {
	width: 192px;
	height: 192px;
}
div.page {
	margin: 0px;
	padding: 0px;
    display: none;
}
div.userinfo {
	top: 2px;
	display: block;
	position: absolute;
	margin: 0px;
	padding: 2px;
	opacity: 1;
	color: #eeeeee;
	background: url(img/bg_linen.png) /*#666666*/;
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;
}
div#user1 {
	left: 2px;
}
div#user2 {
	right: 7px;
}
div#controlright {
	position: absolute;
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
}
table.controlright {
	border-spacing: 10px;
}
div#controlbottom {
	position: absolute;
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
}
div.icon {
	width:32px;
}
div#pageopt {
	position:absolute;
	padding:5px;
	color: #333333;
	background: #dddddd;
	border: solid 2px gray;
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;
}
p {
	padding: 0px;
	line-height: 1em;
	margin: .5em 0 .5em 0;
}
table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: solid green 0px;
}
table.m {
	text-align: center;
}
td.msg {
	text-align: left;
	padding: 3px;
}
td.t {
	text-align: center;
	background: #eeeeee;
}
td.i {
	width: 32px;
	vertical-align: top;
}
td.menu {
	width: 20%;
}
button {
	opacity: 1;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;	
	background-color: #91bd09;
	color: white;
	text-shadow: #2e7ebd 0 1px 2px;
	font-size: 16px;
	cursor:pointer;
}
button.set {
	width: 48px;
	height: 48px;
}
span.icon {
}
img {
	v-space: 0px;
	padding-bottom: 0px;
}
img.icon {
	width: 32px;
	height: 32px;
}
img.icon32 {
	width: 32px;
	height: 32px;
}
img.icon48 {
	width: 48px;
	height: 48px;
}
img.icon64 {
	width: 64px;
	height: 64px;
}
