
@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  src: local('Joti One'), local('JotiOne-Regular'), url(../lib/jotione.woff) format('woff');
}

@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  src: local('Combo'), local('Combo-Regular'), url(../lib/combov1.woff) format('woff');
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html, body, iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Combo', cursive;
}
div, table, td, p, span, button, input, textarea {
	font-family: 'Combo', cursive;
}
.round {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.shadow {
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;	
}
.clickable {
	cursor:pointer;
}
.full {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.float {
	position:absolute;
}
.center {
	text-align: center;
	vertical-align: middle;
}
.l {
	text-align: left;
}
.r {
	text-align: right;
}
.m {
	text-align: center;
}
div.logo {
	width: 100%;
	height: 100%;
	text-align:center;
	vertical-align:middle;
}
img.logo {
	width: 256px;
	height: 256px;
}
div.page {
	margin: 0px;
	padding: 0px;
    display: none;
}
div.userinfo {
	top: 2px;
	display: block;
	position: absolute;
	margin: 0px;
	padding: 2px;
	opacity: 1;
	color: #eeeeee;
	background: url(img/bg_linen.png) /*#666666*/;
}
div#user1 {
	left: 2px;
}
div#user2 {
	right: 7px;
}
div#controlright {
	position: absolute;
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
}
table.control {
	padding: 0px;
	margin: 0px;
	border-spacing: 2px;
}
div#controlbottom {
	position: absolute;
	display: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
}
div.icon {
	width:32px;
}
p {
	padding: 0px;
	line-height: 1em;
	margin: .5em 0 .5em 0;
}
table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: solid green 0px;
}
table.m {
	text-align: center;
}
td.msg {
	text-align: left;
	padding: 3px;
}
td.t {
	text-align: center;
	background: #eeeeee;
}
td.i {
	width: 32px;
	vertical-align: top;
}
td.menu {
	width: 20%;
}
button {
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;	
	background-color: #91bd09;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-size: 14px;
	cursor:pointer;
}
button.set {
	width: 40px;
	height: 40px;
}
.btn-buy {
	width: 96px;
	height: 48px;
	padding: 0px;
	margin: 0px;
	display: block;
}
button.menu {
	width: 96px;
	height: 48px;
}
img {
	padding: 0px;
	margin: 0px;
}
img.icon {
	width: 32px;
	height: 32px;
}
img.icon32 {
	width: 32px;
	height: 32px;
}
img.icon48 {
	width: 40px;
	height: 40px;
}
img.icon64 {
	width: 64px;
	height: 64px;
}
img.icon128 {
	width: 128px;
}
img.icon192 {
	width: 192px;
}
img.icon256 {
	width: 256px;
}
/** dialog with img texture ***/

div.dialog {
	position: absolute;
}
button.dialog {
	height: 32px;
}
img.dlgx {
	padding: 0px;
	margin: 0px;
	display: block;
}
table.dialog {
	padding: 0px;
	margin: 0px;
	spacing: 0px;	
/* 	-moz-border-radius: 10px; */
/*     -webkit-border-radius: 10px; */
/*     -khtml-border-radius: 10px; */
/*     border-radius: 10px; */
/* 	-webkit-box-shadow:5px 5px 10px black; */
/* 	-moz-box-shadow:5px 5px 10px black; */
}
td.dlg00 {
	background: url('img/dlg00.png') no-repeat top left;
	width:32px;
    margin: 0px;
    padding: 0px;
}

td.dlg01 {
	background: url('img/dlg01.png') repeat-x top;
}

td.dlg02 {
	background: url('img/dlg02.png') no-repeat top right;
	width:48px;
    height:55px;
    margin: 0px;
    padding: 0px;
    text-align: left;
	vertical-align: middle;
}

td.dlg10 {
	background: url('img/dlg10.png') left;
}

td.dlg11 {
	background: url('img/dlg11.png') left;
	padding: 4px;
}
div.dlg11 {
	overflow: auto;
}
td.dlg12 {
	background: url('img/dlg12.png') right;
}

td.dlg20 {
	background: url('img/dlg20.png') no-repeat bottom left ;
	height: 27px;
    margin: 0px;
    padding: 0px;    
}

td.dlg21 {
	background: url('img/dlg21.png') repeat-x bottom ;
}

td.dlg22 {
	background: url('img/dlg22.png') no-repeat bottom right ;
    margin: 0px;
    padding: 0px;    
}


/*** color buttons **/

.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button, button.dialog {
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
	top:1px;
}
.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}

.button.small span {
	font-size:12px;
}
.button.medium span {
	font-size:14px;
}
.button.large span {
	font-size:18px;
}

.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #FFFFFF;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #A9014B;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00ADEE;
}
.button.pink {
	background-color: #e22092;
}
.button.green, button.dialog {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #F16C7C;
}
.button.brown {
	background-color: #804000;
}
.button.purple {
	background-color: #800080;
}
.button.cyan {
	background-color: #46C7C7;
}
.button.gold {
	background-color: #D4A017;
}

